# include file
include LICENSE.txt
include README.md
include pytools4dart/sequence.xsd
include pytools4dart/sequence.xml
include pytools4dart/data/*
include pytools4dart/tests/*
include pytools4dart/examples/*
