setuptools
numpy
pandas
lxml
matplotlib
rtree
plyfile
matplotlib
scipy
cython
lmfit
path
pyjnius
rasterio
tinyobjloader==2.0.0rc5
laspy>=2
laszip
colorama
git+https://gitlab.com/pytools4dart/generateds.git
git+https://gitlab.com/pytools4dart/gdecomp.git
git+https://github.com/jgomezdans/prosail.git


