colorama
cython
laspy>=2
laszip
lmfit
lxml
matplotlib
numba # for prosail (otherwise numpy is reinstalled for pip version)
numpy
pandas
path
plyfile
pyjnius
rasterio
rtree
scipy
setuptools
tinyobjloader==2.0.0rc5
git+https://gitlab.com/pytools4dart/generateds.git
git+https://gitlab.com/pytools4dart/gdecomp.git
git+https://github.com/jgomezdans/prosail.git


